body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
}


footer {
  padding: 60px;
  background-color: lightgrey;
  color:black;
  align-items: start;
  height: 150px;
  width: 100%;
  
}

header {
  align-items: center;
}

